<<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
<div class="col s6 z-depth-1">
  <h5 class="center-align">New to GampangPoll? Sign Up now, its free.</h5>
  <form action="/signup" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button type="submit" class="btn right-align">Sign Up</button>
    <br><br>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </form> 
</div>
</body>
</html>
